/* Remove os espaçamentos padrões do navegador */
*{
  margin: 0px;
  padding: 0;
  box-sizing: border-box;
}
/* Define a fonte padrão do site */
body {
  font-family: Arial, sans-serif;
  background-color: #111;
  color: #fff;
}
/* abeçalho com uma cor vermelha */
header {
  padding: 20px;
  background-color: #e50914;
  text-align: center;
}

h1 {
  font-size: 2.5em;
  margin-bottom: 10px;
}

h3, p, h4 {
  margin: 20px;
}
/* texto em negrito */
h4 {
  font-weight: bold;
}
/* Cria uma tabela escura centralizada com largura de 80% da tela. */
.tabela-notas {
  width: 80%;
  margin: 20px auto;
  border-collapse: collapse;
  background-color: #1e1e1e;
  color: #fff;
  text-align: center;
  border: 1px solid #444;
}
/* Adiciona espaçamento interno nas células da tabela */
.tabela-notas th,
.tabela-notas td {
  padding: 12px;
  border: 1px solid #444;
}

.tabela-notas thead {
  background-color: #e50914;
  font-weight: bold;
}
/* Quando o mouse passa por cima de uma linha da tabela. */
.tabela-notas tr:hover {
  background-color: #333;
}

#carrossel {
  display: flex;
  overflow-x: auto;
  gap: 20px;
  padding: 30px;
}

.filme {
  position: relative;
  width: 250px;
  height: 350px;
  overflow: hidden;
  border-radius: 10px;
  flex-shrink: 0;
  transition: transform 0.3s ease;
}

.filme img,
.filme video {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
  border-radius: 10px;
}

.filme video {
  position: absolute;
  top: 0;
  left: 0;
  display: none;
}

.filme:hover {
  transform: scale(1.2);
  z-index: 10;
}

.filme:hover img {
  display: none;
}

.filme:hover video {
  display: block;
}

footer {
  background-color: #171111;
  color: white;
  text-align: center;
  padding: 20px;
  margin-top: 40px;
  font-size: 14px;
}

footer p {
  margin: 5px 0;
}
